*{
    margin: 0;
    font-family: 'Gotham Light', sans-serif;
}
.site-header {
    width: 100%;
    height: 100vh;
}
nav {
    display: flex;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.logo {
    width: 120px;
    height: 30px;
    cursor: pointer;
    margin:15px 40px;
}

.MenuList {
    flex: 1;
    text-align: center;
    margin:20px;
}

.MenuList li {
    display: inline-block;
    padding: 0 15px;

}.MenuList li a {
    text-decoration: none;
    color: white;
    size: 2px;
}
.SideMenuList {
    text-align: right;
    margin:4px 10px; 
    cursor: pointer;  
}

.SideMenuList li {
    display: inline-block;
    padding:2px;
    margin: 12px;
}
.support {
    width: 25px;

}
.global {
    width: 20px;
}
.register {
    width: 20px;
}

.info {
    display: flex;
    position:fixed;
    padding: 49px 155px;
    width: 100%;
    align-items: center;
    color: white;
    bottom: 100px;
}

.info section {
    margin: 0 80px;
    text-align: center;
}

.info section h2{
font-size: 22px;
font-weight: 500;
}
   .info section p {
    font-size: 13px;
   }
   button {
    color:black;
    background-color: white;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-size: medium;
}
.footer {
    font-size:14px ;
}
p1 {
    position:fixed;
    padding:40px;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 40px; 
}
p2 a{
    position:fixed;
    padding:40px;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 20px; 
    
}
p3 {
    display:inline;
    position:fixed;
    padding:40px;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 0px; 
}
#m1 {
    display: flex;
    position:fixed;
    padding: 20px 600px;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 75%;
    font-size:42px;
}
#m2 {
    display: flex;
    position:fixed;
    padding: 20px 615px;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 69%;
    font-size:18px;
}
#m3 {
    display: flex;
    position:fixed;
    padding: 15px 605px;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 67%;
    font-size:13px;
}